# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist
build/
**/build
.next/

# Cache and logs
.turbo/
**/.turbo
.cache/
**/logs
*.log

# Environment variables
.env
.env.*
!.env.example

# System files
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/